---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
const pageTitle = "Ceci est écrit dans frontmatter";
---

<Layout title="FrenchDev">
  <main>
    <h2>This is my blog website</h2>
    <a href="/"> Retour à l'accueil</a>
    <h3>{pageTitle}</h3>
  </main>
</Layout>
