---
import BaseLayout from '../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
const blogPosts = await getCollection('blog');
---

<BaseLayout pageTitle="Homepage">
  <h2 class="text-4xl">Tous les articles</h2>
  <ul>
    {
      blogPosts.map((post: any) => (
        <li>
          <a href={`/posts/${post.slug}`}> 👉 {post.data.title}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
