---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="FrenchDev">
  <main>Main content</main>
  <p>Ccheck my first blog post</p>
  <a href="./posts/first-article">First article</a>
</Layout>
