---
const { className } = Astro.props;

const FOOTER_LINKS = [
  { href: '/', text: 'Politique de confidentialité' },
  { href: '/', text: 'Mentions légales' },
];
---

<footer class={className}>
  {
    FOOTER_LINKS.map(({ href, text }) => (
      <a href={href} class="hover:underline">
        {text}
      </a>
    ))
  }
</footer>
